.container {
    justify-content: center;
    max-width: none;
    flex-direction: column;
    padding: 0;
    grid-gap: 80px;
    display: flex;
    min-height: calc(100% - 80.3px);
    padding-top: 100px;
}
.navbar-nav {
    gap: 16px;
}
.nav-item {
    display: list-item;
}
.link-work {
    border-color: transparent;
    color: #7A7A7A;
}
.link-aboutMe {
    border-color: #B29382;
    color: #474747;
}
.zone {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: unset;
    padding: 0 20%;
    margin: 0;
}
#zone-1 {
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 5vw;
}
#logo {
    width: 40%;
}
#tab3-content {
    box-shadow: none;
}
.home-title {
    position: relative;
    margin-bottom: 0;
    /* z-index: 1; */
}
.home-title::after {
    content: "";
    background: #D3C0B2;
    width: 100%;
    height: 16px;
    position: absolute;
    left: 0;
    top: 24px;
    z-index: -1;
}
.title-CN {
    padding: 4px 6px;
    align-self: center;
    color: #554D49;
}
/* 以下開始為作品集使用 */
#zone-1 > img {
    width: 37%;
    height: 30vh;
    object-fit: cover;
    border-radius: 10px;
}
#zone-2 {
    display: flex;
}
.item {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: auto 1fr;
    grid-gap: 40px;
    margin-bottom: 24px;
}
.item hr {
    margin: 21px 0 0 0;
    align-self: center;
}
.about-content {
    display: grid;
    grid-gap: 8px;
    color: #474747;
}
.about-content div {
    font-size: 20px;
    display: flex;
    justify-content: start;
    grid-gap: 12px;
    flex-wrap: wrap;
}
.about-content > div:nth-child(1), .about-content > div:nth-child(2) {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 20px 1fr;
    grid-gap: 16px;
}
.job {
    position: relative;
}
.job::before {
  content: "";
  display: block;
  width: 2px;
  height: 100%;
  background-color: #E8D8CC;
  position: absolute;
  top: 4px;
  left: 193px;
}
.job-item {
    z-index: 1;
}
.job h3 {
    color: #474747;
}
.in-service {
    width: 164px;
    font-size: 18px;
    color: #7A7A7A;
}
.experience-title {
    display: flex;
    gap: 16px;
    align-items: center;
}
.job-title {
    font-size: 18px;
    color: #474747;
}
.experience-info {
    display: flex;
    flex-direction: column;
    margin-left: 225.33px;
}
.experience-content {
    margin-top: 8px;
    color: #6A6969;
}
.experience-content div {
    font-size: 18px;
}
.job {
    display: grid;
    grid-gap: 24px;
}
.experience-dot {
    width: 28px;
    height: 28px;
    background-color: #E5DAD2;
    border-radius: 100%;
    display: flex;
    justify-content: center;
}
.fa-circle {
    font-size: 12px;
    align-self: center;
    color: #857A74;
}
.skill-title {
    font-size: 20px;
    color: #474747;
    font-weight: 500;
    display: flex;
    gap: 4px;
}
.skill-info {
    display: flex;
    flex-direction: column;
    gap: 12px;
    font-size: 18px;
}
.fa-regular {
    align-self: center;
}
.about-content div:nth-child(3) {
    margin-top: 8px;
}
#zone-2 .about-content i {
    display: flex;
    align-items: center;
}
#zone-2 .about-content .fa-graduation-cap {
    align-items: start;
    margin-top: 5.5px;
}
.fa-leaf {
    color: #4B9765;
    height: 28px;
    align-items: center;
    display: flex;
}
.experience-dot-sm {
    display: none;
}
/* 我的筆電螢幕 */
@media screen and (max-width:1518px) {
    #zone-3 {
        margin-top: 0;
    }
}
@media screen and (max-width:1366px) {
    .zone {
        padding: 0 10%;
    }
    .home-title {
        margin-top: 40px;
    }
    .skill-info {
        gap: 8px;
    }
}
/* 筆電尺寸 */
@media screen and (max-width:1366px) and (max-height:625px) {
    .container {
        padding: unset;
    }
    #zone-1 > img {
        width: 25%;
    }
    .about-content {
        grid-gap: 4px;
    }
    .about-content div:nth-child(3) {
        margin-top: 12px;
    }
    .home-title::after {
        top: 19px;
        height: 16px;
    }   
}
@media screen and (max-width:1024px) and (min-height:1366px){
    #zone-1 > img {
        height: 20rem;
        width: 20rem;
    }
    .home-title {
        width: fit-content;
        margin-top: 0px;
    }
    .experience-content {
        margin-top: 8px;
    }
    .container {
        flex-direction: column;
        align-items: center;
    }
    #home-title {
        font-size: 36px;
    }
    #home-title::after {
        height: 22px;
        top: 28px;
    }
    #logo {
        width: 36%;
    }
}
@media screen and (max-width:1024px) {
    .skill-info {
        margin-left: 40px;
        gap: 4px;
        width: -webkit-fill-available;
    }
    .skill-title {
        font-weight: 800;
        width: 100%;
    }
    .skill-info div::before {
        content: "•";
        color: #666;
        font-size: 1.2rem;
        margin-right: 0.6rem;
    }
    .zone {
        padding: 0 8%;
    }
}
@media screen and (max-width:1080px) and (max-height:810px){
    .container {
        grid-gap: 48px;
    }
    .item {
        margin-bottom: 16px;
    }
    .home-title {
        margin-top: 48px;
    }
    .experience-content {
        margin-top: 4px;
    }
    .about-content div {
        font-size: 18px;
    }
    .about-content {
        grid-gap: 8px;
    }
    .skill-info img {
        max-width: 50px;
    }
}
@media screen and (max-width: 810px) and (max-height: 1080px) {
    #zone-1 > img {
        height: 50vh;
        width: 40vw;
    }
    .home-title::after {
        top: 16px;
    }
    .home-title::after {
        top: 21px;
    }
    .fa-graduation-cap + div {
        grid-gap: 0;
    }
    .skill-info img {
        max-width: 50px;
    }
}
@media screen and (max-width: 768px) and (max-height: 1024px) {
    .container {
        padding-top: 80px;
    }
    #zone-1 > img {
        height: 26vh;
    }
    .about-content div {
        grid-auto-flow: row;
        grid-gap: 0;
    }
    .zone {
        padding: 0 8%;
    }
    .home-title {
        margin-top: 0;
    }
    .home-title::after {
        top: 21px;
    }
    .about-content > div:nth-child(2) > div {
        grid-gap: 12px;
    }
    .link-aboutMe {
        border: none;
    }
}
@media screen and (max-width: 932px) and (max-height: 932px){
    .container {
        grid-gap: 40px;
    }
    .home-title::after {
        top: 19px;
        height: 16px;
    }
    .item {
        margin-bottom: 12px;
    }
    .home-title {
        margin-top: 20px;
    }
    .home-title::after {
        top: 17px;
        height: 13px;
    }
    .about-content #school-EN {
        font-size: 16px;
        line-height: inherit;
        align-items: center;
    }
    .skill-info {
        flex-wrap: wrap;
        font-size: 16px;
        margin-left: 32px;
    }
    .job-title, .in-service {
        font-size: 16px;
    }
    .experience-dot {
        width: 24px;
        height: 24px;
    }
    .fa-circle {
        font-size: 10px;
    }
    .fa-circle {
        margin-top: 7px;
    }
    .job::before {
        left: 11px;
    }
    .link-aboutMe {
        border: none;
    }
}
@media screen and (max-width: 500px){
    .container {
        padding-top: 64px;
    }
    #logo {
        width: 32%;
    }
    #zone-1 {
        flex-direction: column;
    }
    .zone {
        padding: 0 32px;
    }
    .self-introduction {
        order: 2;
    }
    #home-title {
        font-size: 32px;
    }
    #home-title::after {
        height: 17px;
        top: 17px;
    }
    .about-content {
        grid-gap: 0;
    }
    .about-content div {
        font-size: 18px;
    }
    .about-content > div:nth-child(1), .about-content > div:nth-child(2) {
        grid-gap: 4px;
    }
    .about-content > div:nth-child(2) > div {
        grid-gap: 0;
    }
    .about-content div:nth-child(3), .experience-content div {
        font-size: 16px;
    }
    .home-title {
        grid-column: unset;
    }
    .item {
        grid-gap: 16px;
    }
    #zone-1 > img {
        height: 180px;
        width: 100%;
    }
    .about-content > div > i {
        font-size: 16px;
    }
    .fa-circle {
        align-self: start;
    }
    .experience-dot-sm {
        display: flex;
        position: absolute;
    }
    .experience-dot-lg {
        display: none;
    }
    .experience-title {
        flex-direction: column;
        align-items: start;
        gap: 4px;
    }
    .experience-info, .experience-title {
        margin-left: 40px;
    }
}
@media screen and (max-height: 500px){
    .zone {
        padding: 0 10%;
    }
    #zone-1 {
        flex-direction: row;
        align-items: start;
        justify-content: center;
        grid-gap: 0 48px;
        padding-top: 64px;
    }
    #zone-1 > img {
        height: 60vh;
    }
    #home-title {
        font-size: 32px;
    }
    #home-title::after {
        height: 20px;
        top: 22px;
    }
    .home-title::after {
        top: 24px;
    }
    .home-title {
        grid-column: unset;
    }
    .about-content {
        grid-gap: 0;
    }
    .fa-circle {
        margin-top: 0;
    }
    .job::before {
        left: 191px;
    }
}
@media screen and (max-width: 414px) and (max-height: 736px) {
    #zone-1 > img {
        height: 43vh;
        width: 48%;
    }
}
@media screen and (max-width: 736px) and (max-height: 414px) {

}