img {
    max-width: 100%;
    width: fit-content;
}
.project-name {
    color: #288B59;
}
.high-light-decoration {
    position: relative;
    margin-bottom: 0;
    grid-column: span 2;
    width: fit-content;
    z-index: 1;
}
.high-light-decoration::after {
    content: "";
    background: #FFDE82;
    width: 105%;
    height: 14px;
    position: absolute;
    left: -4px;
    top: 9px;
    z-index: -1;
}
.sub-order {
    background: #9EDFD7;
    border: none;
    font-weight: 500;
}
.illustration-img {
    max-width: 100%;
}
.persona-role-protector .persona-card {
    border-color: #399A35;
    flex-grow: 1;
    justify-content: space-between;
}
.persona-role-protector svg, .persona-role-protector .identity {
    color: #399A35;
}
.persona-role-protector .persona-hashtag div {
    background-color: #399A35;
}
 .persona-role-protector .persona-label {
    border-left-color: #87B285;
 }

.persona-role-protected .persona-card {
    border-color: #356E9A;
}
.persona-role-protected svg, .persona-role-protected .identity {
    color: #356E9A;
}
.persona-role-protected .persona-hashtag div {
    background-color: #356E9A;
}
 .persona-role-protected .persona-label {
    border-left-color: #6798BE;
 }
.identity {
    font-size: 1.9rem;
    font-weight: bold;
    margin-bottom: 0.6rem;
}
.persona-name {
    font-size: 1.2rem;
    font-weight: 600;
    color: #474747;
}
.call-state {
    width: fit-content;
    border-radius: 10px;
}
.suppose-card svg {
    color: #B29382;
}
.suppose-card {
    border-color: #B29382;
}
.design-solution {
    font-size: 1.2rem;
    font-weight: bold;
    color: #127C2F;
    margin-bottom: 4px;
}
.design-title {
    color: #1A8B39;
    font-weight: 600;
    display: flex;
    align-items: center;
    gap: 6px;
}
.fa-circle-question, .fa-arrow-right, .design-output .fa-circle-info {
    color: #B29382;
}
.design-output .high-light-decoration::after {
    top: 16px;
    width: 90%;
    left: 8px;
}
.level-title {
    background: #777777;
    color: #FFF;
    width: fit-content;
    border-radius: 100px;
    font-size: 1.1rem;
    padding: 0.2rem 1rem;
    font-weight: 500;
}
.three-level-img {
    width: 32rem;
    margin: 1rem;
    padding-left: 1.5rem
}
.note-card {
    background: #E8E8E8;
    border: 1px solid #C9C9C9;
    padding: 1rem;
    border-radius: 10px;
    margin-left: 1.5rem
}
.fa-circle {
    font-size: 1rem;
}
.fa-question {
    color: #EE3700;
    margin-right: 4px;
}
.test-focus {
    font-weight: bold;
    font-size: 1.1rem;
    color: #272727;
}
.focus-text {
    color: #EE3700;
    font-weight: 500;
}
.future-plan img {
    width: 5.5rem;
    object-fit: contain;
}
.design-limited-content {
    display: flex;
    gap: 3rem
}
.icon-container {
    height: 24px;
    display: flex;
    align-items: center;
}
.future-plan-item {
    display: flex;
    gap: 4rem;
}
.weekly-gif {
    width: 32rem;
    border-radius: 10px;
}
/* 所有小螢幕 */
@media screen and (max-width: 1366px) {
    .persona-role-protector {
        margin-bottom: 1.5rem;
    }
}
@media screen and (max-width: 1024px) and (max-height: 1366px) {
    
}
@media screen and (max-width: 1024px) and (min-height: 1366px) {
    
}
@media screen and (max-width: 1024px) {
    .planning-item {
        margin: unset;
    }
}
/* 所有橫式螢幕 */
@media screen and (orientation: landscape) and (max-width: 1024px){
    
}
@media screen and (max-width: 932px) and (max-height: 932px) {
    #zone-video {
        width: 100%;
    }
    li {
        margin-left: 1.5rem;
    }
}
@media screen and (max-width: 834px) and (max-height: 1194px) {
    .fa-arrow-right {
        display: block;
    }
    .new-hmw strong:last-child.high-light-decoration::before {
    width: 149px;
    content: "";
    height: 14px;
    position: absolute;
    z-index: -1;
    background: #FFDE82;
    top: 41px;
    right: 249px;
}

    .new-hmw strong:last-child.high-light-decoration::after {
        width: 85px;
    }
}

@media screen and (max-width: 500px) {
    .design-limited-content {
        flex-direction: column;
        gap: 1rem;
    }
    .project-main-img {
        display: none;
    }
    .project-main-img-sm {
        height: 17rem;
        display: block;
    }
    .persona-majoir {
        flex-direction: column;
    }
    .new-hmw {
        border-radius: 20px;
        padding: 1.2rem 1.6rem;
    }
    .three-level-img {
        padding: 0;
        max-width: calc(100% - 1rem);
    }
    .note-card {
        margin: 0;
    }
    .future-plan-item {
        flex-direction: column;
        gap: 0;
        align-items: center;
    }
    .future-plan-item > div > div:last-child {
        display: flex;
        gap: 0.5rem;
    }
    .future-plan-item img {
        margin-bottom: 0.8rem;
    }
    .new-hmw .high-light-decoration::after {
        width: 234px;
    }
    .new-hmw strong:last-child.high-light-decoration::after {
        width: 190px;
    }
    .new-hmw strong:last-child.high-light-decoration::before {
        width: 38px;
        right: 70px;
    }
    .new-hmw .high-light-decoration::before {
        width: 111px;
        content: "";
        height: 14px;
        position: absolute;
        z-index: -1;
        background: #FFDE82;
        top: 41px;
        right: -1px;
    }
}
@media screen and (max-width: 400px) {
    .new-hmw .high-light-decoration::before {
        width: 150px;
    }
    .new-hmw .high-light-decoration::after {
        width: 190px;
    }
    .new-hmw strong:last-child.high-light-decoration::after {
        width: 108px;
    }
    .new-hmw strong:last-child.high-light-decoration::before {
        width: 135px;
        right: 21px;
    }
}
@media screen and (max-height: 375px) {
    .new-hmw strong:last-child.high-light-decoration::before{
        content: unset;
    }
    .new-hmw strong:last-child.high-light-decoration::after {
        width: 231px;
    }
}
@media screen and (max-width: 375px) {
    .new-hmw strong:last-child.high-light-decoration::before {
        width: 150px;
        right: 3px;
    }
        .new-hmw strong:last-child.high-light-decoration::after {
        width: 88px;
    }
    .new-hmw .high-light-decoration::after {
        width: 171px;
    }
    .new-hmw .high-light-decoration::before {
        width: 171px;
    }
    .design-output .high-light-decoration::after {
        width: 106px;
        left: 17px;
    }
}
@media screen and (max-width: 736px) and (max-height: 414px)  {
    .new-hmw strong:last-child.high-light-decoration::before {
        width: 73px;
        right: 333px;
    }
    .new-hmw strong:last-child.high-light-decoration::after {
        width: 170px;
    }
}
@media screen and (max-width: 414px) and (max-height: 736px)  {
    .new-hmw .high-light-decoration::after {
        width: 212px;
    }
    .new-hmw strong:last-child.high-light-decoration::after {
        width: 172px;
    }
    .new-hmw strong:last-child.high-light-decoration::before {
        width: 68px;
        right: 44px;
    }
}
@media screen and (max-width: 375px) and (max-height: 667px)  {
    .new-hmw .high-light-decoration::after {
        width: 167px;
    }
    .new-hmw strong:last-child.high-light-decoration::before {
        width: 155px;
        right: 1px;
    }
    .new-hmw strong:last-child.high-light-decoration::after {
        width: 88px;
    }
}
@media screen and (max-width: 667px) and (max-height: 375px)  {
    .new-hmw strong:last-child.high-light-decoration::after {
        width: 113px;
    }
    .new-hmw strong:last-child.high-light-decoration::before {
        width: 131px;
        content: "";
        height: 14px;
        position: absolute;
        z-index: -1;
        background: #FFDE82;
        top: 41px;
        right: 272px;
    }
}