.high-light-decoration {
    position: relative;
    margin-bottom: 0;
    grid-column: span 2;
    width: fit-content;
}
.high-light-decoration::after {
    content: "";
    background: #FFDE82;
    width: 105%;
    height: 14px;
    position: absolute;
    left: -4px;
    top: 6px;
    z-index: -1;
}
/* 所有小螢幕 */
@media screen and (max-width: 1366px) {
    
}
@media screen and (max-width: 1024px) and (max-height: 1366px) {
    
}
@media screen and (max-width: 1024px) and (min-height: 1366px) {
    
}
/* 所有橫式螢幕 */
@media screen and (orientation: landscape) and (max-width: 1024px){
    
}

@media screen and (max-height: 500px) {
    
}